<app-navbar></app-navbar>

<div class="blog-container">

  <div class="blog-item">
    <h1 class="blog-title">
      <fa-icon [icon]="faSun" class="icon-fa-title"></fa-icon>
      Solar
    </h1>
    <hr>
    <small class="date-write"> December 15, 2021 </small>
    <br>
    <img class="cover-img" src="https://www.prysmiangroup.com/sites/default/files/thumbnails/image/header-solar-energy-photovoltaics-1150x650.png" alt="Solar">
    <br>

    <h2>Definition</h2>
    <hr>
    <p class="parrafo">
      Solar energy is a renewable energy, obtained from the use of electromagnetic radiation from the Sun. The solar radiation that reaches the Earth has been used by humans since ancient times, through different technologies that have evolved.
    </p>

    <h2>How does the system work</h2>
    <hr>
    <p class="parrafo">
      This type of energy consists of the direct transformation of the radiation transmitted by the Sun into electrical energy. This transformation into electrical energy is achieved by taking advantage of the properties of the materials by which the solar panel is formed by means of photovoltaic cells it contains.<br><br>
      Most of the photovoltaic panels are made based on silicon for its possible transformation. When sunlight hits one of the faces of the solar cell, it is capable of generating electrical current. The manufacturing process of the plates is laborious and at the same time complicated by the silicon they contain.
    </p>

    <h2>Elements</h2>
    <hr>
    <p class="parrafo">
      Solar module (solar panel), Charge regulator, Battery (accumulator), Investor, Brackets
    </p>

    <h2>Usages</h2>
    <hr>
    <p class="parrafo">
      Transport, Electricity, Pool heating, Heating, Hot water, Irrigation of plantations, Illumination.
    </p>

    <div class="row">
      <div class="col">
        <h2>Advantages</h2>
        <hr>
        <ul class="parrafo">
          <li> 100% inexhaustible, renewable and free energy </li>
          <li> It does not emit toxic substances or air pollutants </li>
          <li> Reduces the use of fossil fuels </li>
          <li> Increasingly competitive energy </li>
          <li> Reduces dependence on consumption from the electricity grid and natural gas </li>
          <li> Subsidies for self-consumption </li>
          <li> Measure against climate change </li>
          <li> Generates wealth and local employment </li>
        </ul>
      </div>

      <div class="col">
        <h2>Disadvantages</h2>
        <hr>
        <ul class="parrafo">
          <li> Intermittent energy </li>
          <li> High initial investment </li>
          <li> Location of the house </li>
        </ul>
      </div>
    </div>

    <h2>Current situation in Guatemala</h2>
    <hr>
    <p class="parrafo">
      Guatemala is a country with great solar potential, which due to its geographical position, the average value of global solar radiation for the entire country of 5.3 kWh / m2 per day, is much higher than that of many of the countries that have successful programs for the use of solar energy.
    </p>

    <div class="right-end">
      <small class="autor"> Written by Ahmed Avila </small>
    </div>
  </div>

  <app-footer></app-footer>
</div>
