<app-navbar></app-navbar>

<div class="blog-container">

  <div class="blog-item">
    <h1 class="blog-title">
      <fa-icon [icon]="faSun" class="icon-fa-title"></fa-icon>
      Solar
    </h1>
    <hr>
    <small class="date-write"> December 15, 2021 </small>
    <br>
    <img class="cover-img" src="https://www.prysmiangroup.com/sites/default/files/thumbnails/image/header-solar-energy-photovoltaics-1150x650.png" alt="Solar">
    <br>


    <div class="right-end">
      <small class="autor"> Written by </small>
    </div>
  </div>

  <app-footer></app-footer>
</div>
