<app-navbar></app-navbar>

<div class="blog-container">

  <div class="blog-item">
    <h1 class="blog-title">
      <fa-icon [icon]="faWind" class="icon-fa-title"></fa-icon>
      Wind
    </h1>
    <hr>
    <small class="date-write"> December 15, 2021 </small>
    <br>
    <img class="cover-img" src="https://media.nationalgeographic.org/assets/photos/818/719/3d97f911-594f-4257-880c-d9aa1c6da22d.jpg" alt="Wind">
    <br>

    <div class="right-end">
      <small class="autor"> Written by </small>
    </div>
  </div>

  <app-footer></app-footer>
</div>
