<app-navbar></app-navbar>

<div class="blog-container">

  <div class="blog-item">
    <h1 class="blog-title">
      <fa-icon [icon]="faIndustry" class="icon-fa-title"></fa-icon>
      Geothermal
    </h1>
    <hr>
    <small class="date-write"> December 15, 2021 </small>
    <br>
    <img class="cover-img" src="https://i.natgeofe.com/n/36fb0201-3a1d-4092-968e-e051da467761/geothermal-plant-reykjavik-6387_2x1.jpg" alt="Geothermal">
    <br>

    <div class="right-end">
      <small class="autor"> Written by  </small>
    </div>
  </div>

  <app-footer></app-footer>
</div>
