<app-navbar></app-navbar>

<div class="blog-container">

  <div class="blog-item">
    <h1 class="blog-title">
      <fa-icon [icon]="faIndustry" class="icon-fa-title"></fa-icon>
      Geothermal
    </h1>
    <hr>
    <small class="date-write"> December 15, 2021 </small>
    <br>
    <img class="cover-img" src="https://i.natgeofe.com/n/36fb0201-3a1d-4092-968e-e051da467761/geothermal-plant-reykjavik-6387_2x1.jpg" alt="Geothermal">
    <br>

    <h2>Definition</h2>
    <hr>
    <p class="parrafo">
      Geothermal energy, form of energy conversion in which heat energy from within Earth is captured and harnessed for cooking, bathing, space heating, electrical power generation, and other uses (Lound, 2018).
    </p>

    <h2>How does the system work</h2>
    <hr>
    <p class="parrafo">
      To produce power from geothermal energy, wells are dug a mile deep into underground reservoirs to access the steam and hot water there, which can then be used to drive turbines connected to electricity generators.<br><br>
      There are three types of geothermal power plants; dry steam, flash and binary. Dry steam is the oldest form of geothermal technology and takes steam out of the ground and uses it to directly drive a turbine. Flash plants use high-pressure hot water into cool, low-pressure water whilst binary plants pass hot water through a secondary liquid with a lower boiling point, which turns to vapor to drive the turbine (Unwin, 2019).
    </p>

    <h2>Elements</h2>
    <hr>
    <p class="parrafo">
      Villasur (2021) said that the components of geothermal energy are those necessary to operate the facilities that take advantage of this renewable energy. Its function is to extract the internal heat from the earth to air-condition rooms, mainly. They are as follows:
    </p>
    <ul class="parrafo">
      <li><b>Primary circuit:</b> Contains the water that circulates through the system, with the heat provided by the exchanger, which is extracted from the subsoil.</li>
      <li><b>Heat pump:</b> It is responsible for amplifying the heat extracted from the ground, to take it to the necessary rooms.</li>
      <li><b>Secondary circuit:</b> It is the distribution circuit that brings heat to the house and distributes it.</li>
      <li><b>Accumulator:</b> Stores the water</li>
    </ul>
    <p class="parrafo">
      The parts of a geothermal power plant are those in which the heat extraction system from the ground is divided, to take advantage of it in the generation of thermal or electrical energy. According to Villasur (2021) the main ones are:
    </p>
    <ul class="parrafo">
      <li><b>Turbine:</b> It is the central nucleus of geothermal power plants, since they serve as an impulse to the generator that produces electricity. Supports up to 350 bars and 600º of temperature. They use the pressure produced by water vapor and through several blades they rotate the turbine itself</li>
      <li><b>Water channels:</b> They heat the water that drives the turbine, turning into steam</li>
      <li><b>Generator:</b> It is the system that produces electrical energy, driven by the turbine</li>
      <li><b>Condenser:</b> Carries out the steam condensation process, so it can be used again after passing through the turbine</li>
      <li><b>Cooling towers:</b> They reduce the temperature of the condenser, through the water that is processed in the towers by applying cold air</li>
      <li><b>Pipes:</b> These are the channels through which fluids circulate</li>
      <li><b>Pumps:</b> Its purpose is to generate the movement of water through the circuit</li>
    </ul>

    <h2>Usages</h2>
    <hr>
    <p class="parrafo">
      Geothermal energy use can be divided into three categories: direct-use applications, geothermal heat pumps (GHPs), and electric power generation.
    </p>
    <ul class="parrafo">
      <li>
        <b>Direct uses:</b> Involves the direct use of heated water from the ground without the need for any specialized equipment. All direct-use applications make use of low-temperature geothermal resources, which range between about 50 and 150 °C (122 and 302 °F). For example: warm single buildings, swimming pools, balneological (therapeutic) facilities at spas, greenhouses, and aquaculture ponds. Also, for cooking, industrial applications like milk pasteurization, and large-scale snow melting.
      </li>
      <li>
        <b>Geothermal heat pumps:</b> Geothermal heat pumps (GHPs) take advantage of the relatively stable moderate temperature conditions that occur within the first 300 meters (1,000 feet) of the surface to heat buildings in the winter and cool them in the summer.
      </li>
      <li>
        <b>Electric power generation:</b> Geothermal power plants can produce electricity in three ways, described above. Despite their differences in design, all three control the behavior of steam and use it to drive electrical generators. Given that the excess water vapor at the end of each process is condensed and returned to the ground, where it is reheated for later use, geothermal power is considered a form of renewable energy.
      </li>
    </ul>

    <div class="row">
      <div class="col">
        <h2>Advantages</h2>
        <hr>
        <ul class="parrafo">
          <li> Long-term financial savings </li>
          <li> Minimal maintenance </li>
          <li> It is ecological </li>
          <li> It's a safe way </li>
          <li> Reduces energy dependence </li>
          <li> Does not depend on energy prices</li>
          <li> Is inexhaustible </li>
          <li> Long useful life </li>
        </ul>
      </div>

      <div class="col">
        <h2>Disadvantages</h2>
        <hr>
        <ul class="parrafo">
          <li> Very high installation price </li>
          <li> May pollute aquifers </li>
          <li> Not suitable for all locations </li>
          <li> Cannot be transported </li>
          <li>  It requires a study of the geography, climate and energy load of the house.</li>
        </ul>
      </div>
    </div>

    <h2>Current situation in Guatemala</h2>
    <hr>
    <p class="parrafo">
      There are currently two geothermal plants for the continuous production of electric energy in charge of the Orzunil I de Electricidad Limitada companies in the Zunil area and Ortitlán, limited in the Amatitlán area, both with a generation capacity of 25.2 MW.
    </p>

    <h2>Bibliography</h2>
    <hr>
    <ul class="parrafo">
      <li>
        Lund, J. W. (2018, April 30). geothermal energy. Encyclopedia Britannica. <a href="https://www.britannica.com/science/geothermal-energy">https://www.britannica.com/science/geothermal-energy</a>
      </li>
      <li>
        Unwin, J. (2019, June 18). What is geothermal energy and where is it used in the world? Power Technology. Retrieved December 15, 2021, from <a href="https://www.power-technology.com/features/what-is-geothermal-energy/">https://www.power-technology.com/features/what-is-geothermal-energy/</a>
      </li>
      <li>
        Villasur, S. (2021, August 3). Partes de la energía geotérmica: definición y utilidad. Energía Roams. Retrieved December 15, 2021, from <a href="https://energia.roams.es/energia-renovable/energia-geotermica/partes/">https://energia.roams.es/energia-renovable/energia-geotermica/partes/</a>
      </li>
      <li>
        Energía geotérmica | Funcionamiento, Ventajas y Desventajas. (2021, December 3). Preciogas. Retrieved December 15, 2021, from <a href="https://preciogas.com/instalaciones/geotermia">https://preciogas.com/instalaciones/geotermia</a>
      </li>
    </ul>

    <div class="right-end">
      <small class="autor"> Written by Katherinne Gómez </small>
    </div>
  </div>

  <app-footer></app-footer>
</div>
