<app-navbar></app-navbar>

<div class="blog-container">

  <div class="blog-item">
    <h1 class="blog-title">
      <fa-icon [icon]="faLeaf" class="icon-fa-title"></fa-icon>
      Bioenergy
    </h1>
    <hr>
    <small class="date-write"> December 15, 2021 </small>
    <br>
    <img class="cover-img" src="https://ugc.futurelearn.com/uploads/images/32/06/header_3206d894-e958-4175-9a70-b91c368bbe21.jpg" alt="Bioenergy">
    <br>

    <h2>Definition</h2>
    <hr>
    <p class="parrafo">
      Bioenergy is also called biomass energy, as it is obtained from it. It is renewable energy that is obtained from organic substances, that is, plants and animals.
    </p>

    <h2>How does the system work</h2>
    <hr>
    <p class="parrafo">
      Bioenergy is obtained from plant remains, such as bones and shells. Also from plants, trees and wet residues such as oil. One of the main sources of supply is found in livestock farms, where sugar cane and beet stand out above all. Also of the forest exploitations.
    </p>

    <h2>Elements</h2>
    <hr>
    <p class="parrafo">
      The formation of biomass occurs from solar energy, which is carried out by the process called photosynthesis. Through photosynthesis, plants containing chlorophyll transform carbon dioxide (CO2) and water from mineral products without energy value, into organic materials with high energy content and that in turn serve as food for other living beings. Through this process, solar energy is stored in the form of biomass.
    </p>

    <h2>Usages</h2>
    <hr>
    <p class="parrafo">
      There are two ways to extract bioenergy to simultaneously obtain thermal and electrical energy. The uses of the different types of biomass can be classified into the following categories, according to the "Biomass Energy" report:
    </p>
    <ul class="parrafo">
      <li>
        <b>Thermal:</b> Obtaining thermal energy through the burning of solid biomass is done for different purposes. Thermal applications with heat production and domestic hot water are the most common within the biomass sector, although the production of cold is also possible, the latter option is more exceptional.
      </li>
      <li>
        <b>Electrical:</b> obtaining electrical energy through the burning of solid biomass is usually done on a large scale (plants larger than 2MW). The operation of a plant for electricity generation consists of the reception of biomass, usually in the form of straw or chips, which is then heated by a boiler that generates steam. This steam moves a turbine that accelerates a generator, thus generating an electric current. For example, within the possible biomasses to be used are all the different energy crops. The species that are usually used are, in case of use of forest, short-cycle tree species such as willows, eucalyptus, poplars or quercus.
      </li>
      <li>
        <b>Biofuels:</b> Biofuel for transport use in motor vehicles can be produced directly or indirectly from biomass. They are usually liquid fuels (such as ethanol), which are mixed with fossil fuels to produce biofuels such as biodiesel. It can be used as a substitute for gasoline.
      </li>
    </ul>

    <div class="row">
      <div class="col">
        <h2>Advantages</h2>
        <hr>
        <ul class="parrafo">
          <li> Reduces CO2 emissions into the environment. </li>
          <li> Bioenergy crops are used to recover eroded and degraded land. With this, it is possible to use land that is located on slopes and arid terrain. </li>
          <li> The roots of bioenergy crops survive for decades, so it is very easy to grow them.</li>
          <li> Ash from biomass combustion can be returned to the soil. Thus, they provide minerals for the growth of new plants. </li>
          <li> By producing biofuels, you avoid having to import fossil fuels from other countries. Thus, external dependence is reduced. </li>
          <li> They are renewable fuels, that is, they produce plant and animal biomass constantly.</li>
          <li> Bioenergy fuels are biodegradable, meaning biodiesel degrades four times faster than conventional diesel. </li>
          <li> Biodiesel and bioethanol can be used directly in some industrial engines. </li>
        </ul>
      </div>

      <div class="col">
        <h2>Disadvantages</h2>
        <hr>
        <ul class="parrafo">
          <li> In the combustion process, toxic particles can be emitted. Specifically, nitrogen oxide. </li>
          <li> Annual crops can produce soil degradation and erosion if mismanaged.</li>
          <li> An insufficient use of fertilizers and pesticides can cause a decrease in the quality of water, flora and fauna in the population.</li>
          <li> By promoting extensive monoculture, biodiversity is reduced.</li>
          <li> Bioenergy systems have higher installation costs than conventional energy systems.</li>
          <li> There is no institutional framework to regulate the use of this energy.</li>
        </ul>
      </div>
    </div>

    <h2>Current situation in Guatemala</h2>
    <hr>
    <p class="parrafo">
      FAO has developed an International Bioenergy Platform (IBEP) which aims to provide the key links for facilitate the transition to a sustainable energy future by coupling the local benefits with the world and taking into account the well-being of the future generations. However, even more research and technical assistance in these areas harnessing the potential to maximise opportunities arising from bioenergy production and minimizing risks to adversely affect food safety.
    </p>

    <h2>Bibliography</h2>
    <hr>
    <ul class="parrafo">
      <li>
        Caf.Com. Retrieved 15 December 2021 from <a href="https://www.caf.com/es/actualidad/noticias/2015/11/para-que-sirve-la-bioenergia/"> https://www.caf.com/es/actualidad/noticias/2015/11/para-que-sirve-la-bioenergia/.</a>
      </li>
      <li>
        López, D. (2019, September 18). Bioenergy: what it is, advantages and disadvantages Ecotrendies.com. <a href="https://ecotrendies.com/bioenergia-que-es-ventajas-y-desventajas.html">https://ecotrendies.com/bioenergia-que-es-ventajas-y-desventajas.html.</a>
      </li>
    </ul>

    <div class="right-end">
      <small class="autor"> Written by Estefanny Estrada </small>
    </div>
  </div>

  <app-footer></app-footer>
</div>
